.left-panel {
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    background-color: var(--left-panel-color-transparent-no-blur);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* backdrop-filter: blur(var(--left-panel-blur)); */
    will-change: transform;
}

.left-panel__link-boxes {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

@media (max-height: 700px) {
    .left-panel__link-boxes {
        height: 100vh;
        overflow-y: scroll;
    }
}

.left-panel__link-boxes > * {
    flex-basis: 25%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.left-panel__link-boxes__box {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(150px); /* Start 50px below the original position */
    animation: appear 2.5s forwards; /* Apply the animation */
}

@keyframes appear {
    to {
        opacity: 1; /* End with opacity 1 */
        transform: translateY(0); /* End at the original position */
    }
}