.right-panel {
    width: var(--right-panel-width);
    position: relative;
    height: 100%;
    background-color: var(--right-panel-color-transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--right-panel-side-padding);
    backdrop-filter: blur(var(--right-panel-blur));
}

.right-panel__google-search-bar {
    position: absolute;
    top: 20%;
    width: 100%;
}

.right-panel {
    transform: translateX(var(--right-panel-width));
    animation: appear 2s forwards;
}

@keyframes right-panel-appear {
    to {
        transform: translateX(0);
    }
}

.right-panel__search-history {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}