:root {
  --left-panel-color: #CCCCCC;
  --left-panel-color-transparent: #CCCCCC66;
  --right-panel-color: #000000;
  --right-panel-color-transparent: #00000066;
  --right-panel-width: 600px;
  --right-panel-side-padding: 20px;
  --left-panel-blur: 3px;
  --right-panel-blur: 5px;
  --google-search-bar-width: 80%;
  --google-search-bar-color: #CCCCCC66;
  --google-search-bar-color-hover: #CCCCCC88;
  --link-box-width: 150px;
  --link-box-color: #FFFFFF;
  --settings-panel-width: var(--right-panel-width);
  --settings-panel-side-padding: var(--right-panel-side-padding);
  --settings-background-color: #FFFFFF;
  --settings-color: #000000;
  --button-background-color: linear-gradient(73deg, #4f4f4f, #a9a9a9);
  --button-color: #FFFFFF;
  --button-background-color-hover: #0073ff;
  --settings-section-delimiter-color: #00000080;
}