body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom cursor */

body {
  cursor: none;
}

:root {
  --cursor-color: rgb(101, 105, 118);
  --cursor-color-opacity: rgba(101, 105, 118, 0.5);
}


/* pointer */

body,
a,
button,
input,
input:hover,
label,
input[type="file"] {
    cursor: auto;
}

/* let the default cursor in the dev console */
body:not(.devtools-open),
body:not(.devtools-open) a,
body:not(.devtools-open) button,
body:not(.devtools-open) input,
body:not(.devtools-open) input:hover,
body:not(.devtools-open) label,
body:not(.devtools-open) input[type="file"] {
    cursor: none !important;
}