.background {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    position: fixed;
    background-repeat: repeat;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    overflow-x: hidden;
}