.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: repeat;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    overflow-x: hidden;
    will-change: opacity;
}

.background {
    opacity: 0;
    animation: appear 1s forwards;
}

@keyframes background-appear {
    to {
        opacity: 1;
    }
}