.google-search-bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.google-search-bar form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-search-bar__input {
    width: var(--google-search-bar-width);
    height: 40px;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 30px;
    outline: none;
    background-color: var(--google-search-bar-color);
    color:white;
}

.google-search-bar__input:hover {
    background-color: var(--google-search-bar-color-hover);
}
