.youtube-left-panel {
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    background-color: var(--left-panel-color-transparent-no-blur);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    will-change: transform;
}

.youtube-left-panel__video {
    width: 70%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.youtube-left-panel__video {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 150px));
    animation: appear-video 2.5s forwards;
}

@keyframes appear-video {
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.youtube-left-panel__video__thumbnail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0;
    position: absolute;
    cursor: pointer;
}

.youtube-left-panel__video__thumbnail img:nth-of-type(1) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0;
    position: absolute;
    object-fit: cover;
    border-radius: 40px;
}

.youtube-left-panel__video__logo {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.youtube-left-panel__video__thumbnail:hover .youtube-left-panel__video__logo {
    opacity: 1;
}